
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: poppins, sans-serif;

}
body{
    overflow: hidden;
    background: rgb(0, 0, 0);
    background-size: cover;
    
}
.navbar{
    margin-top: 10px;
}
.logo{
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 10px white);
    color: rebeccapurple;
}
.logo span{
    color: rgba(0, 132, 255, 0.808);
    font-weight: 600;
}

.myinfo
{
    position: relative;
    top: 200px;
    /* left: 150px; */
    width: 100%;
    /* color:white; */
    color: white;
    /* text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.73); */
}
.myinfo .my-name, p{
    background: #4920FD;
background: linear-gradient(to right, #4920FD 39%, #C12F9D 82%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    

}
.nav-link
{
    color:white;
}
.nav-item{
color: white;
margin-left: 20px;
}
.btn{
    border:none;
    color:white;
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
}
.holi{
   
    color:transparent;
    background-clip: border-box;
    color: rgb(235, 7, 166);
    /* list-style: none; */
    font-size: 20px;
    font-weight: bold;
    /* position: relative; */
    /* top: 0; */
}
h1{
    font-size: 90px;
    font-weight: bold;
  
}

.nav-link:hover
{
   color: rgb(255, 0, 0);
   text-shadow: 0 0 20px black;
}
video
{
    position: absolute;
    left:00px;
    bottom: 00px;
    z-index: -2;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    filter: blur(100);
}
.hue{
    color: rgb(240, 81, 2);
    
    font-weight: bold;
    animation: hue 5s infinite;
}

@keyframes hue{
    0%{
        -webkit-filter: hue-rotate(0deg);
    }
    100%{

        -webkit-filter: hue-rotate(700deg);
    }
}